.jstb_horizontal_rule { background-image: url('../images/jstb_horizontal_rule.png') }
.jstb_ruby { background-image: url('../images/jstb_ruby.png') }
.jstb_collapse { background-image: url('../images/jstb_collapse.png') }
.jstb_javascript { background-image: url('../images/jstb_javascript.png') }
.jstb_link_title { background-image: url('../images/jstb_link_title.png') }
.jstb_textile_quick_reference { background-image: url('../images/jstb_textile_quick_reference.png') }
